*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.borde{
    border: 5px solid orangered;
    margin: 0 auto;
    width: 375px;
}
.container{
     display: grid;
    /*grid-template-columns: 25px 25px 25px 25px 25px 25px;*/
    grid-template-columns: repeat(6, 40px);
     width: 270px;
    gap: 3px;
    margin: 0 auto;
}
p{
    font-size: smaller;
}
.num{
    background-color: #717575;
    font-size: 1.2rem;
    margin: auto auto;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    padding-top: 6px;
    font-weight: 700;
}

.num:hover{
    background-color: #554d4d;
    cursor: pointer;
}
.instrucciones{
    border: 1px solid blue;
    width: 300px;
    margin: 0 auto;
}
#result{
    color: crimson;
    font-size: 25px;
}
.labelin{
    width: 200px;
    margin-left: 150px;
}